
Group8-SuperMarketManagement/.vs/Group8-SuperMarketManagement/FileContentIndex/e04c8f6b-b063-4469-aec6-7a4bf8328cd9.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
/Group8-SuperMarketManagement/.vs
/Group8-SuperMarketManagement/.vs/Group8-SuperMarketManagement/FileContentIndex
*.vsidx
Group8-SuperMarketManagement/.vs/Group8-SuperMarketManagement/v17/.suo
/Group8-SuperMarketManagement/.vs/Group8-SuperMarketManagement/v17
/Group8-SuperMarketManagement/.vs/Group8-SuperMarketManagement/v17
