@{
    ViewData["Title"] = "Product List";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List products</h2>
        <p>
            <a href="Product/Create" class="btn btn-dark">Create New</a>
            <a href="Product/Disabled" class="btn btn-dark">Undisable</a>
        </p>
    </div>

    <div class="row">
        <div class="col-4">
            <form id="form-search" class="my-4">
                <h4>Search</h4>
                <div class="form-group mb-2">
                    <input name="keyword" class="form-control" />
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <button id="clear-search" class="btn btn-info">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered m-2">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Units in stock</th>
                <th>Category</th>
                <th>Supplier</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ShowAllProducts();

            function ShowAllProducts() {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:5000/api/Product",
                    type: "GET",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            const appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["productName"]));
                            appendElement.append($("<td>").html(value["price"]));
                            appendElement.append($("<td>").html(value["totalQuantity"]));
                            appendElement.append($("<td>").html(value["category"]["categoryName"]));
                            appendElement.append($("<td>").html(value["supplier"]["companyName"]));
                            appendElement.append($("<td>").html(value["description"]));
                            appendElement.append($("<td>").html(
                                "<a class='btn btn-warning' href='Product/Edit?id=" + value["productID"] + "'>Edit</a>" +
                                "<a class='btn btn-danger ms-2' href='Product/Delete?id=" + value["productID"] + "'>Disable</a>"
                            ));
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                })
            }

            $("#form-search").submit(function (e) {
                e.preventDefault();
                const keyword = $("input[name='keyword']").val();
                // Email.send({
                //     Host: "smtp.elasticemail.com",
                //     Username: "xuankhbm2@gmail.com",
                //     Password: "9C85111C165AEE83EF3C72142E1FF672CD1B",
                //     To: 'xuankhbm1@gmail.com',
                //     From: "xuankhbm2@gmail.com",
                //     Subject: "This is the subject",
                //     Body: "And this is the body"
                // }).then(
                //     message => alert(message)
                // );
                $.ajax({
                    url: "https://localhost:5000/api/Product/Search/" + keyword,
                    type: "GET",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $("table tbody").html("");
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            const appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["productName"]));
                            appendElement.append($("<td>").html(value["price"]));
                            appendElement.append($("<td>").html(value["totalQuantity"]));
                            appendElement.append($("<td>").html(value["category"]["categoryName"]));
                            appendElement.append($("<td>").html(value["supplier"]["companyName"]));
                            appendElement.append($("<td>").html(value["description"]));
                            appendElement.append($("<td>").html(
                                "<a class='btn btn-warning' href='Product/Edit?id=" + value["productID"] + "'>Edit</a>" +
                                "<a class='btn btn-danger ms-2' href='Product/Delete?id=" + value["productID"] + "'>Delete</a>"
                            ));
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                })

            })

            $("#clear-search").click(function () {
                $("input[name='keyword']").val("");
                ShowAllProducts();
            })
        })
    </script>
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    
}